
    .mainbodyforlogin{
        height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            font-family: 'Roboto', Arial, sans-serif;
    color: rgb(33, 33, 33);
            background:linear-gradient(135deg,#4facfe,#00f2fe);

            margin:0;
            padding:0;
            box-sizing:border-box;
    }

   @media screen and (max-width:440px){
    .mainbodyforlogin{
        padding:0px 20px;
    }
    .container{
        width:100%;
        max-width: 400px;
       
        
    }
    .signup-container{
         width:100%;
        max-width: 400px;
    
        
    }
    
}