
body{
    margin:0px;
    padding:0px;
     font-family: 'Roboto', Arial, sans-serif;
    color: rgb(33, 33, 33)
}
.maincontainer{
    margin-top: 60px;
    display: grid;
}


/*
css for homepage
*/





/*
css for TrackingSection
*/

