
@media screen and (max-width:1920px)
{
    .mainsection{
    grid-template-columns: repeat(6,1fr);
}
}
@media screen and (max-width:1300px)
{
    .mainsection{
    grid-template-columns: repeat(5,1fr);
}
}
@media screen and (max-width:1000px)
{
    .mainsection{
    grid-template-columns: repeat(4,1fr);
}
}
@media screen and (max-width:800px)
{
    .mainsection{
    grid-template-columns: repeat(3,1fr);
}
}
@media screen and (max-width:575px)
{
    .mainsection{
    grid-template-columns: repeat(2,1fr);
}
}
@media screen and (max-width:450px)
{
    .mainsection{
    grid-template-columns: 1fr;
}

.socksdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
}